---
import { getMonthName } from '$/utils'
import { USE_MEDIA_THUMBNAIL } from '$/config'
const { post } = Astro.props
---
<a href={post.url} title={post.title} class="block">
<div class="post-preview">
    <div class="sm:w-12 md:w-16">
        <div class="post-preview__date">
            {post.icon && (
                <img 
                    src={post.icon} 
                    class="post-preview__date__icon dark:invert block"
                />
            )}
        </div>
    </div>
    <div class={`flex-1 ${USE_MEDIA_THUMBNAIL && post.thumbnail ? 'flex flex-row gap-4' : ''}`}>
        { USE_MEDIA_THUMBNAIL  && post.thumbnail && <img class="post-preview__media" src= {post.thumbnail} alt="media thumbnail" />}
        <div class="flex flex-col mb-2">
            <h4 class="post-preview__title dark:text-theme-dark-primary">
                <!-- <a href={post.url} title={post.title} target="_blank">{post.title}</a> -->
                {post.title}
            </h4>
        </div>
        <p class="post-preview__desc">
            {post.description}
        </p>
    </div>
</div>
</a>
<style>
    .post-preview {
        @apply  flex gap-2
    }
    .post-preview__date {
        @apply flex flex-col w-full text-center
    }
    .post-preview__date__icon {
        @apply w-12 h-12 rounded-lg object-contain mx-auto mt-1
    }
    .post-preview__title {
        @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline
    }
    .post-preview__desc {
        @apply text-lg leading-6 dark:text-white line-clamp-2 hyphens-auto
    }
    .post-preview__media {
        @apply w-48 rounded-md shadow-lg shadow-theme-accent-gray-light dark:shadow-theme-accent-gray-dark
    }
</style>
