---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');

// 緯度経度あるやつだけ抽出して変換！
const places = posts
  .filter(p => p.data.lat && p.data.lng)
  .map(p => ({
    title: p.data.title,
    lat: p.data.lat,
    lng: p.data.lng,
    url: `/blog/${p.slug}`,
    icon: p.data.icon ?? "📍",
  }));
const placeJSON = JSON.stringify(places);
---

<div id="map" style="height: 600px;"></div>

<!-- Leaflet読み込み -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
></script>

<script 
  type="application/json" 
  is:inline set:html={JSON.stringify(places)} 
  id="places-data"
></script>

<!-- 地図スクリプト -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log("HOGE");
    const map = L.map("map").setView([35.979646265244114, 140.14959598601973], 14);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "© OpenStreetMap contributors",
    }).addTo(map);

    const places = JSON.parse(
      document.getElementById("places-data").textContent
    );

    places.forEach(place => {
      const marker = L.marker([place.lat, place.lng]).addTo(map);
      marker.bindPopup(`<a href="${place.url}">${place.icon} ${place.title}</a>`);
    });
  });
</script>
