---
import type { CollectionEntry } from 'astro:content'
import { getMonthName } from '$/utils'

interface Props {
    post: CollectionEntry<'spot_note'>,
    asCard?: boolean
}

const { post: { data: post, slug }, asCard = false } = Astro.props
---
<a href={`/spot_note/${slug}`} title={post.title} class="block">
<div class={`post-preview ${asCard && 'post-preview--card'}`}>
    <div class="w-14 mr-1">
        <div class="post-preview__date">
            <img
              src={post.icon ? `/images/icon_photo/${slug}.jpg` : '/icon/no_image.svg'}
              class={`post-preview__date__icon block ${post.icon ? '' : 'dark:invert'}`}
            />
        </div>
    </div>
    <div class="flex-1">
        <h4 class="post-preview__title dark:text-theme-dark-primary">
            {post.title}
        </h4>
        <p class="post-preview__desc">
            {post.description}
        </p>
    </div>
</div>
<style>
    .post-preview {
        @apply flex gap-2;
    }
    .post-preview--card {
        @apply flex flex-col-reverse gap-4 sm:w-72 md:w-60 lg:w-64;
    }
    .post-preview__date-box {
        @apply sm:w-20 md:w-32
    }
    .post-preview--card .post-preview__date-box {
        @apply w-full
    }
    .post-preview__icon {
        @apply flex flex-col w-full text-center;
    }
    .post-preview--card .post-preview__date {
        @apply text-left flex flex-row gap-1
    }
    .post-preview__date__icon {
        @apply w-14 h-14 rounded-lg object-contain mx-auto mt-2
    }
    .post-preview--card .post-preview__date__day {
        @apply text-4xl
    }
    .post-preview__date__month-n-year {
        @apply text-gray-400;
    }
    .post-preview__title {
        @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline mb-[0.5];
    }
    .post-preview__desc {
        @apply text-lg leading-6 line-clamp-3 dark:text-white hyphens-auto;
    }
</style>
